@media (max-width: 1200px) {
    .container-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        width: 100%;
        padding: 80px 10px 80px 10px;
    }

}

@media (max-width: 1024px) {
    .contactanos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vh 20px 5vh 20px;
        gap: 10px;
    }

    .icons img{
        width: 4vh;
        height: auto;
    }

    #contacto p{
        font-size: 2vh;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .container-img .box-img img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .container-img .box-img{
        display: grid;
        align-items: center;
    }
    
    .container-img .box-img p{
        color: rgb(27, 27, 27);
        font-size: 20px;
    }
    
    .container-img .box-img h3{
        color: rgb(27, 27, 27);
        font-weight: 600;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
}

@media (max-width: 759px) {
    
    /* .tronco-img{
        width: 500px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    } */

    .logo{
        width: 170px;
        height: auto;
        cursor: pointer;
    }

    .navbar {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.7371323529411764) 0%, rgba(255,255,255,0) 100%);
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
      }
    
      .menu-label img {
        height: 20px;
        width: 25px;
        position: fixed;
        top: 20px;
        right: 20px;

      }

    
      #menu-toggle:not(:checked) ~ ul {
        display: none;
    }

      #menu-toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
        right: 0;
        top: 50px;
        background-color: rgba(0, 0, 0, 0.774);
        position: fixed;
        width: 100%;
        text-align: end;
      }

    .hero h1{
        font-size: 50px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        text-align: center;
    }

    .hero p{
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        width: 100%;
        padding: 80px 10px 0px 10px;
    }

    .container-img .box-img img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .container-img .box-img{
        display: grid;
        align-items: center;
    }
    
    .container-img .box-img p{
        color: rgb(27, 27, 27);
        font-size: 20px;
    }
    
    .container-img .box-img h3{
        color: rgb(27, 27, 27);
        font-weight: 600;
        display: flex;
        justify-content: center;
        font-size: 45px;
    }
}

@media (max-width: 620px) {
    /* .tronco-img{
        width: 400px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    } */

    .container-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        width: 100%;
        padding: 80px 10px 0px 10px;
    }

    .container-img .box-img:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    
    .container-img .box-img:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    
    .container-img .box-img:nth-child(4){
        grid-column: 1;
        grid-row: 3;
    }
    
    .container-img .box-img:nth-child(3){
        grid-column: 1;
        grid-row: 4;
    }


}

@media (max-width: 517px) {
    #sobre-nosotros h2{
        color: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        font-size: 60px;
        border-bottom: 1px solid rgb(27, 27, 27);
    }

    #catalogo h3{
        color: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        font-size: 60px;
        border-bottom: 1px solid rgb(27, 27, 27);
    }
}

@media (max-width: 460px) {
    /* .tronco-img{
        width: 280px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    } */

    .hero h1{
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        text-align: center;
    }

    .hero p{
        font-size: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container-cards .card{
        width: 250px;
        background-image: url(./imgs/d1.jpg);
        background-position: 100% 200px;
        box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.171);
        
        padding: 10px;
        transition-duration: 0.2;
    }


    #sobre-nosotros h2{
        color: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        font-size: 50px;
        border-bottom: 1px solid rgb(27, 27, 27);
    }

    #catalogo h3{
        color: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        font-size: 50px;
        border-bottom: 1px solid rgb(27, 27, 27);
    }

    .container-img .box-img img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }
}